@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behaviour: smooth
}

body {
    background: #0D0D2B;
    /* font-family: 'Rubik', sans-serif;   */
    font-family: 'Oxanium', cursive; 
    color: #fff
}

p {
    color: #E0E0E0;
}

.hero-p {
    width: max-content;
}

.click-style:first-child {
    background: #2B076E;
}

.click-style:first-child h3 {
       color: #fff
}