@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behaviour: smooth
}

body {
    background: #0D0D2B;
    /* font-family: 'Rubik', sans-serif;   */
    font-family: 'Oxanium', cursive; 
    color: #fff
}

p {
    color: #E0E0E0;
}

.hero-p {
    width: max-content;
}

.pcard-bg {
    background: #2B076E;
}

.pcard-bg h3 {
    color: #fff;
}

.pcard-btn {
    display: none;
}

.pcard-bg .pcard-arrow {
    display: none;
}

.pcard-bg .pcard-btn {
    display: block;
}